.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
  position: relative;
  display: flex;
  z-index: 100;
  padding: 3em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/heros/medlem.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9478A8C9;
  opacity: 0.79;
  z-index: -1;
}