nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
  background-color: #355675;
  border-bottom: 1px solid #e0e0e0;

  img {
    width: 100px;
  }
}
.click-button {
  display: flex;
  justify-content: space-between;
}

.kurv-button {
  margin-right: 10px;
  margin-top: 1px;
}

.headerImg {
  height: auto;
  width: 80px;
}

.burger-menu {
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

.nav-links {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 200;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #355675;
  padding: 0;
  margin: 0;

  &.open {
    display: flex;
  }

  li {
    padding: 1rem;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
      display: block;
      position: relative;
      transition: color 0.3s;
      font-size: 30px;
      margin-top: 40px;

      &:hover {
        color: white;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
  .active {
    color: white;
  }
}

/* Styles for larger screens */
@media (min-width: 768px) {
  .nav-links {
    li {
      padding: 0;
      margin: 0 1rem;
          text-decoration: none;
      list-style: none;

      a {
        font-size: 50px;
        margin-top: 90px;
        color: white;
      }
    }
  }
  .logo {
    height: 70px;
    width: auto;
  }
  .close {
    height: 50px;
    width: auto;
  }
  .burger {
    height: 50px;
    width: auto;
  }
    .kurv {
    height: 50px;
    width: auto;
  }
}

@media (min-width: 1025px) {
  .burger-menu {
    display: none;
  }

.kurv-button {
  margin-right: 0px;
  margin-top: 2px;
}
  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    background-color: transparent;
    height: 7vh;
    li {
      padding: 0;
      margin: 0 1rem;
      text-decoration: none;
      list-style: none;

      a {
        font-size: 25px;
        margin-top: 15px;
        color: white;
      }
    }
  }
}
