.form {
  max-width: 400px;
  margin: 2em auto;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2em;
}

.form label {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: #333;
  text-transform: uppercase;
}

.form input[type="email"],
[type="text"] {
  padding: 0.8em;
  font-size: 1em;
  border-radius: 20px;
  width: calc(100% - 1em);
  border: #355675 solid 2px;
  font-family: "Advent Pro";
}
.form textarea[placeholder="Hvem køber du legetøj til?"] {
  padding-bottom: 90px;
  font-family: "Advent Pro";
}

.form input[type="email"]:focus,
[type="text"]:focus {
  border-color: #9478a8;
  outline: none;
  box-shadow: 0 0 0 1.5px #9478a8;
}

.besked {
  margin-top: 130px;
  color: white;
}
.besked h2 {
  font-size: 90px;
  font-family: "Square Peg";
  font-weight: 400;
}
.besked p {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.lukbutton {
  padding: 10px 20px;
  border: none;
  background-color: #355675;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  margin: 1em;
  width: 300px;
  height: 56px;
  border-radius: 50px;
}
.lukbutton a {
  color: white;
  text-decoration: none;
  list-style: none;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.lukbutton:hover {
  background-color: #9478a8c9;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #355675;
}


@media (min-width: 768px) {
  .form {
    min-width: 700px;

    label {
      font-size: 1.5em;
    }
    .form input[type="email"],
   .form input[type="text"] {
      padding: 1em;
      font-size: 1.1em;
      border-radius: 20px;
      width: calc(100% - 1em);
      border: #355675 solid 2px;
      font-family: "Advent Pro";
    }
  }  
}


@media (min-width: 1500px) {
  .form {
    min-width: 900px;

    label {
      font-size: 1.5em;
    }
    .form input[type="email"],
    .form input[type="text"] {
      padding: 1em;
      font-size: 1em;
      border-radius: 20px;
      width: calc(100% - 1em);
      border: #355675 solid 2px;
      font-family: "Advent Pro";
    }
  }
}
