.button {
  padding: 10px 20px;
  border: none;
  background-color: #9478a8c9;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
  margin-top: 1em;
}

.button:hover {
  background-color: #355675;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #355675;
}


@media (min-width: 768px) {
 .button {
    height: 70px;
    width: 200px;
    margin-left: 60px;
    font-size: 20px;

  }
}


@media (min-width: 1023px) {
  .button {
    height: 70px;
    width: 250px;
    font-size: 20px;
  }

}
